@model PlatformsGetViewModel

<div class="row">
    <div class="col-6 mx-auto">
        <div class="card h-100 w-100 ">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <h6 class="card-subtitle mb-2">Aantal games op dit platform : @Model.AmountOfGames</h6>
                <a asp-action="GetByPlatform" asp-controller="Games" asp-route-platformName="@Model.Name" asp-route-id="@Model.Id">Zie volle lijst van games beschikbaar op dit platform</a>
                <h6 class="card-subtitle mb-2 text-muted">Publicatiedatum : @Model.Created</h6>
                <p></p>
                <a asp-action="Index"
                   asp-controller="Games" class="btn btn-primary">Terug naar alle games</a>
            </div>
        </div>
    </div>
</div>

